* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    background-color: yellow;
    width: 100%;
    height: 80px;
    display: block;
    border: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inner-header {
    width: 1000px;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: bisque;
}

.name {
    background-color: coral;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    color: white;
    width: 180px;
    margin-left: 20px;
    float: left
}
.link {
    background-color: violet;
    padding: 30px;
    float: right;
}

.link a {
    height: 100%;
    padding: 0px 10px;
}



